*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav#navbar{
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: azure;
    padding: 3rem;
}
nav#navbar ul#nav-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style: none;
    
}
.nav-link{
    color:black;
    text-decoration: none;
}
nav#navbar header{
    margin-bottom: 2rem;
}
#main-doc{
    width: 80%;
    margin-left:20%;
    padding:1.5rem 2rem;
}
.main-section{
    margin: 1.5rem 0;
}
#section-header h1{
    margin-bottom:1.5rem ;
}
.main-section p{
    margin-top: 1rem;
    margin-bottom:1.5rem ;
}
#the_microsoft ul{
    padding: 1rem 2rem;
}

#the_microsoft ul li{
    margin: 1rem;
}

#code_section{
    background-color: coral;
    border: 1px solid black;
    padding: 1rem 2rem;
}

@media only screen and (max-width:500px){
    nav#navbar{
        width: 100%;
        height: fit-content; 
        background-color: rgb(171, 216, 216);
        position: relative;
        padding: 1rem 2rem;
    }
    nav#navbar .nav-link{
        margin-bottom: 0.9rem;
    }
    #main-doc{
        width: 80%;
        margin: 0 auto;
        padding:1.1rem 0.8rem;
    }
    #code_section{
        padding: 0.7rem 1rem;
    }
  }
